# macOS
.DS_Store

# Editor directories
.vscode/
.idea/

# Node dependencies
node_modules/
**/vendor/

# OS-specific temporary files
Thumbs.db
ehthumbs.db
Desktop.ini

**/.env
**/.env.production
**/**/*.pem

.github/ai-review-history-local.json
project-config.json
V2/secrets/*
!V2/secrets/README.md