{
  "openapi": "3.1.1",
  "info": {
    "title": "Dynamic Static Builder API",
    "version": "1.1.0"
  },
  "servers": [
    {
      "url": "https://webbness.net"
    }
  ],
  "paths": {
    "/publish": {
      "post": {
        "operationId": "publishArticle",
        "summary": "Publish content to the configured GitHub repository",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "project": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  },
                  "repository": {
                    "type": "string"
                  },
                  "branch": {
                    "type": "string",
                    "default": "main"
                  },
                  "base_path": {
                    "type": "string"
                  },
                  "base_url": {
                    "type": "string",
                    "description": "Base URL for the published content (e.g., https://relationaldesign.ai)"
                  },
                  "github_token": {
                    "type": "string"
                  },
                  "filename": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string"
                  },
                  "metadata": {
                    "type": "object",
                    "properties": {
                      "title": {
                        "type": "string"
                      },
                      "tags": {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      },
                      "description": {
                        "type": "string"
                      },
                      "relatedArticles": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "title": {
                              "type": "string"
                            },
                            "url": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    },
                    "required": [
                      "title"
                    ]
                  },
                  "overrides": {
                    "type": "object",
                    "properties": {
                      "branch": {
                        "type": "string"
                      },
                      "base_url": {
                        "type": "string",
                        "description": "Override the base URL where published articles are expected to live."
                      },
                      "auto_merge": {
                        "type": "boolean",
                        "default": false
                      },
                      "delete_branch": {
                        "type": "boolean",
                        "default": false
                      },
                      "build_hook": {
                        "type": "string"
                      },
                      "pull_request": {
                        "type": "object",
                        "properties": {
                          "enabled": {
                            "type": "boolean",
                            "default": true
                          },
                          "base": {
                            "type": "string",
                            "default": "main"
                          },
                          "title": {
                            "type": "string"
                          },
                          "body": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "required": [
                  "repository",
                  "github_token",
                  "filename",
                  "content"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Article published successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "url": {
                      "type": "string"
                    },
                    "commitHash": {
                      "type": "string"
                    },
                    "pullRequestUrl": {
                      "type": "string"
                    },
                    "build_triggered": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload"
          },
          "401": {
            "description": "Unauthorized – invalid or expired token"
          },
          "500": {
            "description": "Server error while publishing"
          }
        }
      }
    },
    "/jobs": {
      "post": {
        "operationId": "insertJob",
        "summary": "Insert a new publishing job with article metadata",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string"
                  },
                  "status": {
                    "type": "string"
                  },
                  "created_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "updated_at": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "payload": {
                    "type": "object",
                    "properties": {
                      "article": {
                        "type": "object",
                        "properties": {
                          "title": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "tags": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "snippet": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "title",
                          "url"
                        ]
                      }
                    },
                    "required": [
                      "article"
                    ]
                  }
                },
                "required": [
                  "id",
                  "status",
                  "created_at",
                  "updated_at",
                  "payload"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job inserted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    },
                    "job_id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status",
                    "message",
                    "job_id"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload"
          },
          "500": {
            "description": "Server error while inserting job"
          }
        }
      },
      "get": {
        "operationId": "getAllJobs",
        "summary": "Retrieve all jobs filtered by status",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "description": "Comma-separated list of statuses to include, or * for all records"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Jobs retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "status": {
                        "type": "string"
                      },
                      "created_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "updated_at": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "payload": {
                        "type": "string",
                        "description": "A JSON string containing job metadata, such as article title, tags, and URL."
                      }
                    },
                    "required": [
                      "id",
                      "status",
                      "created_at",
                      "updated_at",
                      "payload"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid status"
          },
          "500": {
            "description": "Server error while retrieving jobs"
          }
        }
      }
    },
    "/jobs/{id}": {
      "get": {
        "operationId": "getJobStatus",
        "summary": "Get the status of a publishing job",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The unique job ID to check status"
          }
        ],
        "responses": {
          "200": {
            "description": "Job status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updated_at": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "payload": {
                      "type": "string",
                      "description": "A JSON string containing job metadata, such as article title, tags, and URL."
                    }
                  },
                  "required": [
                    "id",
                    "status",
                    "created_at",
                    "updated_at",
                    "payload"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid ID"
          },
          "404": {
            "description": "Job not found"
          },
          "500": {
            "description": "Server error while retrieving job status"
          }
        }
      },
      "patch": {
        "operationId": "updateJobStatus",
        "summary": "Update the status of an existing publishing job",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Job status updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "status"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request payload"
          },
          "404": {
            "description": "Job not found"
          },
          "500": {
            "description": "Server error while updating job"
          }
        }
      }
    },
    "/jobs/{id}/artifact": {
      "get": {
        "operationId": "getJobArtifact",
        "summary": "Retrieve job payload artifact",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Artifact retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "400": {
            "description": "Missing id"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Job not found"
          }
        }
      }
    }
  }
}
