WEAVER_API_KEY=change_me
WEAVER_SESSION_JWT_SECRET=change_me_session_secret
GITHUB_APP_ID=
GITHUB_APP_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
GITHUB_WEBHOOK_SECRET=
WEAVER_ALLOWLIST=[{"owner":"pcbender","repo":"RelationalDesign"}]
